@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Segoe UI", sans-serif;
    z-index: 999;
}

/* change this for your own logo */

.logo {
    width: 650px;
    height: 330px;
}

.video-background .overlay {
    opacity: 0; /* overlay background opacity [currently off for template video] opacity: 0.6; */
    filter: saturate(161%) contrast(145%); /* overlay extra filters */
    background: rgb(0,248,185); /* overlay background color */
    
    /*!!!!!!!!!!! UNCOMMENT IF YOU WANT GRADIENT OVERLAY !!!!!!!!!!! CSS Color Gradient Overlay Generator: https://cssgradient.io/*/
    /*background: linear-gradient(180deg, rgba(0,248,185,1) 0%, rgb(0,248,185) 100%);*/
    
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
  }

.video-background {
    background: #1d18455e; /* load fade in background color */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -99;
}

#container {
    text-shadow: 2px 2px 5px #424242;
    position: absolute;
    color: rgb(241, 235, 235);
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 75px;
    text-align: center;
}

/* change this for your text at bottom */

.print {
    color: #e7e7e7;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 50px auto;
	margin-left: 0px;
	margin-top: 50%;
    animation: music 3s;
}

::-webkit-scrollbar {
    display: none;
}